@mixin flex(
    $justify: flex-start,
    $align: flex-start,
    $direction: row,
    $wrap: nowrap
) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columns: auto, $rows: auto, $rowGap: 0, $columnGap: 0) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $rowGap $columnGap;
}

// Max-width 144rem
@mixin maxWidth($width: 144rem) {
    max-width: $width;
    margin: 0rem auto;
}

// Page container
@mixin pageSetup($height: 100vh, $marginTop: 0, $paddingSide: 0) {
    min-height: $height;
    padding: 8rem $paddingSide 0 $paddingSide;
    margin: $marginTop auto;
}

// Reglo font for banners titles
@mixin RegloBanner {
    font-family: 'Reglo';
    text-shadow: 0 0 5px rgba(black, 0.5);
    font-size: 2.5rem;
    color: white;
}

@mixin tablet {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 600px) {
        @content;
    }
}
