article.article {
    @include pageSetup(5rem, 5rem);
    @include maxWidth;
    position: relative;

    .article {
        &__title {
            font-size: 5rem;
            text-transform: uppercase;
            text-align: left;
        }

        &__subjects {
            @include flex;
            margin: 1rem 0;

            .subject {
                padding: 0.8rem;
                margin-right: 1.5rem;
                border: 1px solid rgba($primary-color, 0.5);
                color: black;
                text-decoration: none;
                border-radius: 5px;

                &:hover {
                    box-shadow: 0 0 3px rgba($primary-color, 0.5);
                }
            }
        }
    }

    section {
        @include flex;
        margin-top: 5rem;

        .content {
            text-align: center;
            width: 75%;
            padding-right: 2.5rem;
            z-index: 0;

            * {
                margin-bottom: 3rem;
            }

            p {
                text-align: left;
                line-height: 2rem;
            }

            img {
                @include maxWidth(100%);
                width: 60%;
                margin: 0 auto 1rem auto;
            }

            figcaption {
                font-style: italic;
            }
        }

        .resources {
            width: 25%;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
            background-color: rgba($primary-color, 0.05);
            border-radius: 10px;
            z-index: 0;
            position: sticky;
            top: 10rem;
            height: calc(100vh - 12rem);
            padding: 2rem;
            text-align: center;

            &__title {
                font-size: 1.6rem;
                padding-bottom: 2rem;
            }

            ol {
                @include flex($direction: column);
                list-style-position: inside;

                li {
                    margin-bottom: 1.5rem;

                    .resource {
                        font-size: 1.6rem;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}
