main.categories {
    @include pageSetup($paddingSide: 5rem);
    @include maxWidth;
    font-family: 'Cunia';

    .categories {
        &__title {
            @include flex(center, center);
            width: 100%;
            height: 15vh;
            margin-bottom: 5rem;
        }

        &__list {
            @include grid(repeat(3, 1fr), $rowGap: 10rem, $columnGap: 10rem);
        }
    }
}
