main.home {
    @include pageSetup(1rem);
    text-align: center;

    .subtitle {
        padding-top: 1rem;
    }

    .title {
        @include flex(center, center);
        padding: 1rem 0;
    }

    .banner {
        &__title {
            color: white;
            font-size: 2rem;
            font-weight: 500;
        }

        &__container {
            padding-top: 1rem;
            @include maxWidth;
            @include flex(center);
        }

        &__link {
            @include RegloBanner;
            padding-bottom: 0.5rem;
            margin: 0 2.5rem;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }

    .articles {
        @include maxWidth;
        @include grid(
            $columns: repeat(3, 1fr),
            $rowGap: 5rem,
            $columnGap: 5rem
        );
        padding: 5rem;
    }
}
