main.home {
    @include pageSetup($marginTop: 1rem);
    text-align: center;

    .subtitle {
        padding-top: 1rem;
    }

    .title {
        @include flex(center, center);
        padding: 1rem 0;
    }

    .banner {
        &__title {
            color: white;
            font-size: 2rem;
        }

        &__container {
            padding-top: 1rem;
            @include maxWidth;
            @include flex(center);
        }

        &__link {
            @include RegloBanner;
            padding-bottom: 0.5rem;
            margin: 0 2.5rem;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }

    .articles {
        @include maxWidth;
        @include grid(
            $columns: repeat(3, 1fr),
            $rowGap: 5rem,
            $columnGap: 5rem
        );
        padding: 5rem;
    }
}

@include tablet {
    main.home {
        .subtitle {
            margin-top: 5rem;
        }

        .title {
            margin-bottom: 5rem;
        }

        .banner {
            &__container {
                padding-top: 2rem;
            }
        }

        .articles {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.5rem;
        }
    }
}

@include mobile {
    main.home {
        .subtitle {
            margin-top: 3rem;
        }

        .title {
            margin-bottom: 3rem;
        }

        .banner {
            &__title {
                font-size: 1.6rem;
            }
        }

        .articles {
            grid-template-columns: auto;
            row-gap: 2.5rem;
            padding: 2rem;
        }
    }
}
