main.home {
    @include pageSetup(1rem);
    text-align: center;
    position: relative;

    .title {
        img {
            width: 5rem;
            margin-right: 2rem;
        }
        @include flex(center, center);
        font-family: 'Cunia';
        // font-size: 5rem;
        padding: 1rem 0;
    }

    .links {
        width: 100%;
        padding-top: 1rem;
        background: linear-gradient(
            90deg,
            $secondary-color 0%,
            $primary-color 100%
        );

        span {
            color: white;
            font-size: 2rem;
            font-weight: 500;
        }

        .links__container {
            margin: 0 auto;
            padding: 1rem 5rem;
            @include maxWidth;
            @include flex(center);

            .link {
                font-family: 'Reglo';
                text-shadow: 0 0 5px rgba(black, 0.5);
                display: grid;
                place-items: center;
                text-decoration: none;
                color: white;
                font-size: 3rem;
                font-weight: 600;
                padding-bottom: 0.5rem;
                margin: 0 2.5rem;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid white;
                }
            }
        }
    }

    .articles {
        margin: 2rem auto;
        @include maxWidth;
        width: 100%;
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
        row-gap: 5rem;
    }
}
