main.subjects {
    @include pageSetup($paddingSide: 5rem);
    @include maxWidth;
    font-family: 'Cunia';

    .subjects {
        &__title {
            width: 100%;
            height: 15vh;
            @include flex(center, center);
        }

        &__list {
            @include grid(repeat(3, 1fr), $rowGap: 5rem, $columnGap: 5rem);
        }
    }
}
