.banner {
    max-width: 100%;
    padding: 1rem 0;
    background: linear-gradient(
        90deg,
        $secondary-color 0%,
        $primary-color 100%
    );
}

@include tablet {
    .banner {
        padding: 2rem 0;
    }
}
