main.category {
    @include pageSetup;

    .category {
        &__title {
            @include flex(center, center);
            height: 15vh;
            text-align: center;
        }

        &__articles {
            @include maxWidth;
            @include grid(repeat(3, 1fr), $columnGap: 5rem, $rowGap: 5rem);
            padding: 5rem;
        }
    }

    .banner {
        &__container {
            @include maxWidth;
            @include flex($align: stretch);
            width: 100%;
            padding: 1rem 5rem;
            overflow: hidden;
        }

        &__articles,
        &__subjects {
            flex: 1;

            .title {
                @include RegloBanner;
                padding-bottom: 1rem;
            }

            .list {
                flex: 3;
                list-style: none;
            }
        }
    }
}

@include tablet {
    main.category {
        .category {
            &__articles {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2.5rem;
            }
        }
    }
}

@include mobile {
    main.category {
        .category {
            &__articles {
                padding: 2rem;
                grid-template-columns: auto;
                row-gap: 2.5rem;
            }
        }

        .banner {
            &__container {
                flex-direction: column;
                padding: 1rem 3rem;
            }
        }
    }
}
