.resources {
    width: 25%;
    box-shadow: 0 0 5px rgba($primary-color, 0.5);
    background-color: rgba($primary-color, 0.03);
    border-radius: 10px;
    z-index: 0;
    position: sticky;
    top: 15rem;
    height: calc(100vh - 22rem);
    padding: 2rem;

    &__title {
        text-align: center;
        padding-bottom: 2rem;
    }

    &__list {
        @include flex($direction: column);
        list-style-position: inside;

        &__item {
            margin-bottom: 1.5rem;
        }
    }
}

@include tablet {
    .resources {
        width: 33%;
        padding: 1rem;

        &__title {
            font-size: 1.6rem;
        }

        &__list__item {
            font-size: 1.4rem;
        }
    }
}

@include mobile {
    .resources {
        margin: 0 auto;
        width: 90%;
        height: auto;
        position: static;

        &__list__item {
            padding-left: 1rem;
        }
    }
}
